<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 파비콘(favicon 설정 링크 -->
<link rel="shortcut icon" href="http://localhost/images/favicon.ico"/>

<!-- 부트스트랩  CDN -->    
<link rel="stylesheet" type="text/css"
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"/>
<style type="text/css">

</style>

<!-- JQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js">
</script>

<!-- Vue CDN -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<script type="text/javascript">
$(function(){
}); //ready
</script>

</head>
<body>
<a th:href="@{/}">메인</a>
<div id="app">
	<h2>{{ title }}</h2>
	<p>이름 : {{ name }}</p>
	<p>나이 : {{ age }}</p>
	<!-- 함수 내용을 문자열로 출력하기 위해서 () 사용 -->
	<p>날짜 : {{ date() }}</p>
</div>

<hr>

<div id="app2">
	<h2>데이터 그룹</h2>
	<h3>{{ title }}</h3>
	<p>이름 : {{ member.name }}</p>
	<p>나이 : {{ member.age }}</p>
	<!-- 함수 내용을 문자열로 출력하기 위해서 () 사용 -->
	<p>날짜 : {{ member.date() }}</p>
</div>

<script>
Vue.createApp({
	data(){
		return {
			title:"데이터 바인딩",
			name:"이여진",
			age:29,
			date:function(){
				return "오늘은 : "+new Date();
			} //date
		} //return
	} //data
}).mount("#app");

Vue.createApp({
	data(){
		return {
			title:"데이터 바인딩2",
			member:{
				name:"이여진",
				age:29,
				date:function(){
					return "오늘은 : "+new Date();
				} //date
			} //member
		} //return
	} //data
}).mount("#app2");
</script>

</body>
</html>