<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 파비콘(favicon 설정 링크 -->
<link rel="shortcut icon" href="http://localhost/images/favicon.ico"/>

<!-- 부트스트랩  CDN -->    
<link rel="stylesheet" type="text/css"
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"/>
<style type="text/css">

</style>

<!-- JQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js">
</script>

<!-- Vue CDN -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<script type="text/javascript">
$(function(){
}); //ready
</script>

</head>
<body>
<a th:href="@{/}">메인</a>
<div id="app">
	<h3>v-for 반복</h3>
	<ul>
		<li v-for="name in names">{{ name }}</li>
	</ul>
	<ul>
		<li v-for="(name, ind) in names">{{ ind+1 }} - {{ name }}</li>
	</ul>
	<input type="text" v-for="name in names" :value="name" />
	<br>
	<strong>객체 배열</strong>
	<table class="table table-hover">
	<thead>
		<tr>
			<th>번호</th>
			<th>이름</th>
			<th>주소</th>
		</tr>
	</thead>
	<tbody>
		<tr v-for="(member,ind) in members">
			<td>{{ ind+1 }}</td>
			<td><input type="text" v-bind:value="member.name" /></td>
			<td><input type="text" :value="member.addr" /></td>
		</tr>
	</tbody>
	</table>
	<select>
		<option v-for="dept in depts" :key="dept.deptno" :value="dept.deptno">{{ dept.deptno }}</option>
	</select>
	<select>
		<option v-for="dept in depts" :key="dept.dname" :value="dept.dname">{{ dept.dname }}</option>
	</select>
</div>

<script>
Vue.createApp({
	data(){
		return {
			names:["이여진","김민경","장태규","이대웅","강태일","유명규"],
			/* 객체 배열 */
			members:[
				{ name:"이여진", addr:"광주시" },
				{ name:"김민경", addr:"서울시" },
				{ name:"장태규", addr:"구리시" },
				{ name:"이대웅", addr:"대구시" },
				{ name:"강태일", addr:"제주시" },
				{ name:"유명규", addr:"수원시" }
			], //members
			depts:[
				{ deptno:10, dname:"영업부"},
				{ deptno:20, dname:"개발부" },
				{ deptno:30, dname:"유지보수" },
				{ deptno:40, dname:"QA" }
			] //depts
		} //return
	} //data
}).mount("#app");
</script>

</body>
</html>